{% extends "_base.html" %}

{% block content %}
<div class="container my-5">
    <div class="card bg-light text-dark p-4">
        <div class="card-header fs-2">Welcome to Esi Lecture!</div>
        <div class="card-body">
            <p class="card-text fs-5">
                Connect to the Odoo API through the Connection menu and explore the diverse books in the Book section.
            </p>
            <p class="card-text fs-5">
                Dive into the world of books and ratings. Make your experience seamless and enjoyable.
            </p>
        </div>
    </div>
</div>
{% endblock %}
